<%= form_for @opportunity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :site_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.url_field :site_url, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.url_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level_exp, "Level of experience", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level_exp, :class => 'text_field', :placeholder => 'e.g. Beginner, Intermediate ' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level_age_min, "Minimum Age", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :level_age_min, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level_age_max, "Maximum age", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :level_age_max, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, :class => 'text_field', :placeholder => 'e.g. £5 per session' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :into_work, "Into work scheme", :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :into_work, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :girls_only, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :girls_only, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skills, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :skills, :class => 'text_field', :placeholder => "Separated by a ',' e.g. HTML, CSS" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :audience, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :audience, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employer_opp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :employer_opp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lo_type, "Opportunity Type(s)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lo_type, :class => 'text_field', :placeholder => "Separated by a ',' e.g. course, online" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                opportunities_path, :class => 'btn' %>
  </div>
<% end %>
