<%- model_class = Opportunity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
      <p>Welcome to the club of Tech City. If you’re interested in tech and you’re willing to work hard, you can be a part of it.
      <br>
      Tech companies are looking for people with technical, design and people skills. If you know what you want to learn but don’t know where to find it, you’re in the right place. Here you can search for all the different local programmes that teach you how to code, build software or understand electronics.
      <br>
      Search here by telling us your preferences, what you want to do, and who you want to be.
      </p>
<div class="row opportunities">
  <div class="span4 opportunities__filter">
    <h3>Filters</h3>
    <p><a href="#" data-filter="*">show all</a></p>
    <p>Level</p>
    <ul id="filters">
      <li><a href="#" data-filter="[data-level-exp=novice]">novice</a></li>
      <li><a href="#" data-filter="[data-level-exp=intermediate]">intermediate</a></li>
      <li><a href="#" data-filter="[data-level-exp=expert]">expert</a></li>
    </ul>
  </div>
  <div class="span8 opportunities__list">
    <ul>
      <% @opportunities.each do |opportunity| %>
        <li class="opportunity"
          data-skills="<%= opportunity.skills %>"
          data-level-age-min="<%= opportunity.level_age_min %>"
          data-level-age-max="<%= opportunity.level_age_max %>"
          data-level-exp="<%= opportunity.level_exp %>"
          data-like-count="<%= opportunity.like_count %>"
        >
          <p><strong><%= opportunity.name %></strong></p>
          <p><%= opportunity.description.truncate(100) %></p>
          <%= link_to "Read more", opportunity_path(opportunity) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%=
# link_to t('.new', :default => t("helpers.links.new")),
#             new_opportunity_path,
#             :class => 'btn btn-primary'
%>
