<%- model_class = Opportunity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:image_url) %>:</strong></dt>
  <dd><img src="<%= @opportunity.image_url %>"></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @opportunity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_url) %>:</strong></dt>
  <dd><%= @opportunity.site_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @opportunity.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_exp) %>:</strong></dt>
  <dd><%= @opportunity.level_exp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_age_min) %>:</strong></dt>
  <dd><%= @opportunity.level_age_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level_age_max) %>:</strong></dt>
  <dd><%= @opportunity.level_age_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= @opportunity.cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:into_work) %>:</strong></dt>
  <dd><%= @opportunity.into_work %></dd>
  <dt><strong><%= model_class.human_attribute_name(:audience) %>:</strong></dt>
  <dd><%= @opportunity.audience %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost_min) %>:</strong></dt>
  <dd><%= @opportunity.cost_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:skills) %>:</strong></dt>
  <dd><%= @opportunity.skills %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employer_opp) %>:</strong></dt>
  <dd><%= @opportunity.employer_opp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lo_type) %>:</strong></dt>
  <dd><%= @opportunity.lo_type %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              opportunities_path, :class => 'btn'  %>
  <% if can? :manage, @opportunity %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_opportunity_path(@opportunity), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                opportunity_path(@opportunity),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
